<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список Турів</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <style>
    body {
      background-image: url('/css/images/steampunk-banner.jpg');
      background-size: cover;
      background-attachment: fixed;
    }
    </style>
</head>
<body>
<div class="container">
  <h1>Список Турів</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Назва Туру</th>
      <th>Вартість</th>
      <th>Категорія</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tour : ${tours}">
      <td th:text="${tour.tourId}"></td>
      <td th:text="${tour.name}"></td>
      <td th:text="${tour.price}"></td>
      <td th:text="${tour.category}"></td>
      <td>
        <a
                th:href="@{/tours/edit/{id}(id=${tour.tourId})}"
                class="button edit"
        >Редагувати</a>
        <a
                th:href="@{/tours/delete/{id}(id=${tour.tourId})}"
                class="button delete"
        >Видалення</a>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Розташування кнопок під таблицею -->
  <div class="buttons-row">
    <a href="/tours/add" class="button">Додати Тур</a>
    <a href="/home" class="button back">Повернутися</a>
</div>
</body>
</html>
